<header>
    <nav class="main-nav">
        <ul>
            {% for pageNav in site.data.navigation %}   
                <li>
                    {% if pageNav[1].link == page.url %}             
                    <a class="selected" href="{{ pageNav[1].link }}">{{ pageNav[1].title }}</a>
                {% else %}
                    <a href="{{ pageNav[1].link }}">{{ pageNav[1].title }}</a>
                {% endif %}
                </li>
            {% endfor %}
            <li class="flex-filler">&nbsp;</li>
            {% include social-head-items.html %}
        </ul>
    </nav>
</header>
