<header>
    <nav>
        {% for pageNav in site.data.navigation %}   
            {% if pageNav[1].link == page.url %}             
                <a
                    title="{{ pageNav[1].title }}"
                    class="selected"
                    href="{{ pageNav[1].link }}"
                >
                    {{ pageNav[1].title }}
                </a>
            {% else %}
                <a
                    title="{{ pageNav[1].title }}"
                    href="{{ pageNav[1].link }}"
                >
                    {{ pageNav[1].title }}
                </a>
            {% endif %}
        {% endfor %}
    </nav>
    <span class="flex-filler">&nbsp;</span>
    {% include social-head-items.html %}
</header>
