{% assign short_page_title = site.title %}
{% if page.layout == "artwork" %}
    {% assign short_page_title = '"' | append: page.title | append: '" / ' | append: site.name | append: " / " | append: page.type %}
{% endif %}

{% assign page_title = site.title %}
{% if page.layout == "artwork" %}
    {% assign page_title = page.title | append: " / " | append: page.media | append: " / " | append: page.dimension | append: " / " | append: site.name | escape %}
{% endif %}

{% assign social_image = "" | append: site.url | append: "/assets/img/display/" | append: page.images[0] %}
{% if page.title == 'home' %}
    {% assign social_image = "" | append: site.url | append: "/assets/img/display/" | append: site.site_image %}
{% else %}
    {% if page.layout == 'media_grid' %}
        {% assign site_work = site.artwork | where_exp: 'item', "item.hide != true"  | sort: 'ordinal' | reverse %}
        {% assign social_image = site.url | append: "/assets/img/display/" | append: site_work[0].images[0] %}
    {% endif %}
{% endif %}

{% assign page_desc = site.description %}
{% if page.layout == "artwork" %}
    {% assign page_desc = page.type | append: ': "' | append: page.title | append: '" / ' | append: page.media | append: " / " | append: page.dimension | append: " / " | append: page.year | escape %}
    {% if page.description %}
        {% assign page_desc = page_desc | append: " / " | append: page.description  %}
    {% endif %}
    {% assign page_desc = page_desc | append: " / " | append: site.name %}
{% endif %}

<title>{{ short_page_title }}</title>
<meta name="description" content="{{ page_desc }}" />

<meta property="og:locale" content="en_US" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />

<meta property="og:title" content="{{ page_title }}" />
<meta property="og:description" content="{{ page_desc }}" />

<meta property="og:image" content="{{ social_image }}.jpg">
<meta name="twitter:image" content="{{ social_image }}.jpg">

<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{{ page_desc }}">
<meta name="twitter:card" content="summary_large_image">