header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
      
    nav {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
    }
      
    a, span {
        display: inline-block;
        height: 100%;
        display: inline-block;
        padding: 15px 10px;
        background: white;

        &.selected {
            background: transparent;
        }

        &.nav-icon {
            padding: 11px 10px;
            svg {
                height: 23px;
                width: 23px;
                
                .nav-svg-icon {
                    fill: #999;
                    -webkit-transition: fill 0.2s;
                    transition: fill 0.2s;
                }
    
                &:hover {
                    .nav-svg-icon {
                        fill: #222;
                        -webkit-transition: fill 0.2s;
                        transition: fill 0.2s;
                    }
                }
            }   
        }
    }
      
    .flex-filler {
        padding: 15px 10px;
        background: white;
        flex-grow: 2;
    }
      
    :first-child a {
        padding-left: 20px;
    }
}
