@media (prefers-color-scheme: dark) {
    a {
        color: #ccc;
    }
      
    a:focus, a:hover {
        color: #ccc;
    }
}
  
@media (prefers-color-scheme: light) {
    a {
        color: #777;
    }
      
    a:focus, a:hover {
        color: #222;
    }
}
