$column-width: 100px;
$column-gutter: 10px;

.container {
    &.layout-media_grid {
        width: 100%;
    }
}

.media-grid {
    list-style: none;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;

    .grid-item {
        &.column-width-1 {
            width: $column-width;
        }
        &.column-width-default, &.column-width-2 {
            width: $column-width * 2 + $column-gutter;
        }
        &.column-width-3 {
            width: $column-width * 3 + $column-gutter * 2;
        }
        &.column-width-4 {
            width: $column-width * 4 + $column-gutter * 3;
        }
        &.column-width-5 {
            width: $column-width * 5 + $column-gutter * 4;
        }
        &.column-width-6 {
            width: $column-width * 6 + $column-gutter * 5;
        }

        position: relative;
        float: left;
        margin-bottom: 10px;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;

        img {
            max-width: 100%;
            margin: auto;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
        }
    }
}

.layout-media_grid .grid-item:hover {
    opacity: 0.75;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

@media only screen and (orientation: portrait) {
    .media-grid .grid-item {
        &.column-width-1, &.column-width-2, &.column-width-default {
            width: calc(50% - 5px);
        }
        &.column-width-3, &.column-width-4, &.column-width-5, &.column-width-6 {
            width: 100%;
        }
    }
}
