$column-width: 100px;
$column-gutter: 10px;

.container.grid-container {
    width: 100%;
}

.media-grid {
    list-style: none;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;

    a {
        &.size-small {
            width: $column-width;
        }
        &.size-default {
            width: $column-width * 2 + $column-gutter;
        }
        &.size-large {
            width: $column-width * 3 + $column-gutter * 2;
        }
        &.size-xlarge {
            width: $column-width * 4 + $column-gutter * 3;
        }

        float: left;
        margin-bottom: 10px;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.75;
            -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s;
        }

        img {
            max-width: 100%;
            margin: auto;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
        }
    }
}

@media only screen and (orientation: portrait) {
    .media-grid a {
        &.size-small, &.size-default {
            width: calc(50% - 5px);
        }
        &.size-large, &.size-xlarge {
            width: 100%;
        }
    }
}
