.page-content {
    figure {
        img {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.page-body {
    h1 {
        font-size: 18px;
    }

    h4 {
        padding-top: 30px;
    }
}

.nav-thumb:hover {
    opacity: 0.75;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

a {
    &.nav-thumb {
        width: 100px;
        border-radius: 100%;
        background-size: cover;
        height: 100px;

        @media only screen and (orientation: portrait) {
            height: auto;
            padding-bottom: 50%;
        }
    }

    .chevron {
        opacity: 0.7;
    }

    &:hover .chevron {
        opacity: 1;
    }

    @media only screen and (orientation: portrait) {
        .chevron {
            opacity: 0.9;
        }
    }
}

.chevron {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    svg {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        max-height: 50%;
        max-width: 50%;
    }

    &.chevron-right svg {
        -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
        -moz-transform: rotate(180deg);        /* FF */
        -o-transform: rotate(180deg);          /* Opera */
        -ms-transform: rotate(180deg);         /* IE9 */
        transform: rotate(180deg);             /* W3C compliant browsers */
    }
}

.red-dot {
    background: #c4261b;
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
    margin-left: 10px;
}
