---
layout: master
page_type: work
---

<div id="swipable-page" class="page-content">
    <figure class="page-image width-constrained">
        {% for image in page.images %}
            <img src="/media/{{ image }}"
                alt="{{ page.title }}, {{ page.media }}, {{ page.date | date: "%Y" }}"/>
        {% endfor %} 
    </figure>
    <section class="page-body width-constrained">
        <h1>{{ page.title }}</h1>
        <br/>
        {{ page.media}} / {{ page.dimension}} / {{ page.date | date: "%Y" }}
        <br/><br/>
        {{ page.price }}
        <br/><br/>
        {{ content }}        
    </section>
    <nav class="work-nav"  role="navigation">
        <script>
            window.siteData = {};
        </script>

        {% if page.previous.url %}
            <script>
                window.siteData.prevURL = "{{ page.previous.url }}";
            </script>
            <a title="previous" href="{{ page.previous.url }}">prev</a>
            {% if page.next.url %}
                /
            {% endif %}
        {% endif %}

        {% if page.next.url %}
            <script>
                window.siteData.nextURL = "{{ page.next.url }}";
            </script>
            <a title="next" href="{{ page.next.url }}">next</a>
        {% endif %}
    </nav>
</div>
