---
layout: master
page_type: work
---

<div id="swipable-page" class="page-content">
    <figure class="page-image width-constrained">
        {% for image in page.images %}
            <img src="/media/{{ image }}"
                alt="{{ page.title }}, {{ page.media }}, {{ page.year }}"/>
        {% endfor %} 
    </figure>
    <section class="page-body width-constrained">
        <h1>{{ page.title }}</h1>
        <br/>
        {{ page.media}} / {{ page.dimension}} / {{ page.year }}
        <br/><br/>
        {{ page.price }}
        <br/><br/>
        {{ content }}        
    </section>
    <nav class="work-nav"  role="navigation">
        {% assign prev_index = page.ordinal | plus: 1 %}
        {% assign next_index = page.ordinal | minus: 1 %}
        {% assign prev_work = site.artwork | where_exp: 'item', "item.ordinal == prev_index" %}
        {% assign next_work = site.artwork | where_exp: 'item', "item.ordinal == next_index" %}
        {% assign prev = prev_work[0] %}
        {% assign next = next_work[0] %}

        <script>
            window.siteData = {};
        </script>

        {% if prev %}
            <script>
                window.siteData.prevURL = "{{ prev.url }}";
            </script>
            <a title="previous" href="{{ prev.url }}">prev</a>
            {% if next %}
                /
            {% endif %}
        {% endif %}

        {% if next %}
            <script>
                window.siteData.nextURL = "{{ next.url }}";
            </script>
            <a title="next" href="{{ next.url }}">next</a>
        {% endif %}
    </nav>
</div>
