---
layout: master
---

<div class="media-grid">
    {% for post in site.posts %}

    {% if post.column_width %}
        {% assign column_width = "column-width-" | append: post.column_width %}
    {% else %}
        {% assign column_width = "column-width-default" %}
    {% endif %}

        <a
            class="grid-item {{ column_width }}"
            title="{{ post.title }}"
            href="{{ post.url }}"
        >
            <img
                src="/thumbnails_large/{{ post.images[0] }}"
                alt="{{ post.title }}, {{ post.media }}, {{ post.year }}"
            />
        </a>
    {% endfor %}
</div>

<script src="/assets/js/vendor/imagesloaded.min.js"></script>
<script src="/assets/js/vendor/masonry.min.js"></script>
<script src="/assets/js/main.js"></script>
