---
layout: master
---

<div class="media-grid">
    {% for post in site.posts %}

    {% if post.column_width %}
        {% assign column_width = "column-width-" | append: post.column_width %}
        {% if post.column_width < 3 %}
        {% assign thumb_size = "small" %}
        {% else %}
        {% assign thumb_size = "large" %}
        {% endif %}
    {% else %}
        {% assign column_width = "column-width-default" %}
        {% assign thumb_size = "small" %}
    {% endif %}
        <a
            class="grid-item {{ column_width }}"
            title="{{ post.title }}"
            href="{{ post.url }}"
        >
            <picture>
                <source srcset="/assets/img/thumbnails_{{ thumb_size }}/{{ post.images[0] }}.webp" type="image/webp">
                <source srcset="/assets/img/thumbnails_{{ thumb_size }}/{{ post.images[0] }}.jpg" type="image/jpeg">
                <img
                    src="/assets/img/thumbnails_{{ thumb_size }}/{{ post.images[0] }}.jpg"
                    alt="{{ post.title }}, {{ post.media }}, {{ post.year }}"
                />
            </picture>
        </a>
    {% endfor %}
</div>
