---
layout: master
---

<div class="media-grid">
    {% for post in site.posts %}

    {% if post.grid_size %}
        {% assign grid_size = "size-" | append: post.grid_size %}
    {% else %}
        {% assign grid_size = "size-default" %}
    {% endif %}

        <a
            class="grid-item {{ grid_size }}"
            title="{{ post.title }}"
            href="{{ post.url }}"
        >
            <img
                src="/thumbnails_large/{{ post.images[0] }}"
                alt="{{ post.title }}, {{ post.media }}, {{ post.year }}"
            />
        </a>
    {% endfor %}
</div>

<script src="/assets/js/vendor/imagesloaded.min.js"></script>
<script src="/assets/js/vendor/masonry.min.js"></script>
<script src="/assets/js/main.js"></script>
