.container {
  margin-top: 50px;
}

.navtabbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

.navtabbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navtabbar li {
  display: inline-block;
}

.navtabbar li a {
  display: inline-block;
  padding: 15px 10px;
  background: white;
}

.navtabbar li a.selected {
  background: transparent;
}

.navtabbar li.end-tab {
  padding: 15px 10px;
  width: 100%;
  position: absolute;
  background: white;
}

.navtabbar li:first-child a {
  padding-left: 20px;
}

a {
  color: #777;
}

a:focus, a:hover {
  color: #222;
}
